<!DOCTYPE html>
<html>
<head>
	<title>Edit Menu Item Here</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
<link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Bellefair" rel="stylesheet">
</head>
<body>
<h1>Edit menu item for {{restaurant.name}}</h1>

<form  method="POST" action={{url_for('editMenuItem',restaurant_id=restaurant.id,menu_id=item.id)}} >
	Name:<input type="text" name="name"  placeholder='{{item.name}}'>
	Description:<input type="text" name="description"  placeholder='{{item.description}}'>
	Price:<input type="text" name="price"  placeholder='{{item.price}}'>
	Course:<input type="text" name="course"  placeholder='{{item.course}}'>
	<input type="submit" name="submit" value="Submit">

</form>
<a href={{url_for('showMenuItem',restaurant_id=restaurant.id)}}>Cancel</a></p>

</body>
</html>