<!DOCTYPE html>
<html>
<head>
	<title>Restaurants</title>
	<head></head>
</head>
<body>
<h1>Restaurants</h1>
<a href={{url_for('createRestaurantName')}}>Make a new restuarant </a>
{%for rest in restaurants%}
<p>{{rest.name}}</p>
<p><a href={{url_for('showMenuItem',restaurant_id=rest.id)}}>Show Menu Items</a></p>
<p><a href={{url_for('restaurantMenuJSON',restaurant_id=rest.id)}}>Show Menu Items in Json format</a></p>
<p><a href={{url_for('editRestaurantName',restaurant_id=rest.id)}}>Edit</a></p>
<p><a href={{url_for('deleteRestaurantName',restaurant_id=rest.id)}}>Delete</a></p>
<br>
<br>
{%endfor%}

</body>
</html>